/* src/components/ImageSlider.css */
.slider-container {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
  }
  
  .slider-image-container {
    position: relative;
    width: 100%;
    height: 400px; /* You can adjust the height of the slider */
    overflow: hidden;
  }
  
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  