/* Navbar Styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-size: 34px;
  color: red;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  text-decoration: none; /* Remove underline from the list */
}

.nav-links li {
  cursor: pointer;
  color: black; /* Set the text color to black */
  font-weight: 2px; /* Make the text bold */
  text-decoration: none; /* Remove underline */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.nav-links a {
  color: black; /* Ensure links are black */
  text-decoration: none; /* Remove underline from links */
}

.nav-links a:hover {
  text-decoration: none; /* Ensure no underline on hover */
}

/* Auth Buttons Styling */
.auth-buttons {
  display: flex;
  gap: 10px;
}

.donate-button {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.login-button2 {
  display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333; /* Text color */
    position: relative;
    left: -20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Box shadow */
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}


